
<section>
  <section *ngIf="isLoading && !errorMessage">
    Loading our hyperdrives!!! Retrieving data...
  </section>
  <ul>
    <!-- this is the new syntax for ng-repeat -->

    <div *ngFor="let x of comments"  class="list-group">
      <a href="#" class="list-group-item list-group-item-action active">
        <h5 class="list-group-item-heading">{{x.title}}</h5>
        <p class="list-group-item-text">{{x.body}}</p>
      </a>
     </div>

  </ul>
  <section *ngIf="errorMessage">
    {{errorMessage}}
  </section>
</section>
